body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
}

.container{
    width: 900px;
    margin: 0 auto;

}

.profile {
    text-align: center;
    margin-bottom: 40px;
  }

.foto-principal {
    width: 200px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%;
    margin: 30px 30px 0 30px;
    box-shadow: 0px 0px 10px #959595;
}

.habilidades{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.projetos ul li{
  padding: 10px;
}

a{
    text-decoration: none;
    color: #252525;
    
}

li a{
    background-color: #cacaca;
    border-radius: 2px;
    padding: 0px 4px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
  }
  
  h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(73 73 73);
    font-weight: 100;
    letter-spacing: -1px;
  }
  
  h4 {
    margin-bottom: 5px;
  }
  
  h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
  }
  
  p {
    line-height: 25px;
    margin-top: 0;
  }
  
  .social-links {
    text-decoration: none;
  }
  
  .social-icons {
    width: 20px;
  }
  
  .github {
    margin: 0 15px 0 15px;
  }

  .footer {
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

@media (max-width:915px) {
    


    .container{
        width: 100%;
        margin-left: 10px;
    }
    .footer{
        width: 100%;
        
    }
}

@media (max-width:465px) {
  
  .habilidades{
    display: block;
  }
    
  .container{
        width: auto;
        overflow:auto;
    }
    .footer{
        width: auto; 
    }
}